{% extends "base.html" %}

{% block title %} Change Password {% endblock %}

{% block content %}

{% if form.errors %}
    {% for key, value in form.errors.items %}
        <div id="msg_tag" class="alert alert-warning w-75" style="margin-left:12%;">
            <h5>{{ value }}</h5>
        </div>
    {% endfor %}
{% endif %}

<br>
<form action="" method="POST" class="user-profile">
    {% csrf_token %}
    <input type="password" name="old_password" autocomplete="new-password" class="form-control" required id="id_old_password" placeholder="Enter Old Password"/>
    <br>
    <input type="password" name="new_password1" autocomplete="new-password" class="form-control" required id="id_new_password1" placeholder="Enter New Password"/>
    <br>
    <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control" placeholder="Confirm New Password"/>
    <br>
    <input type="submit" value="Change Password" class="btn btn-outline-primary w-50">
</form>
{% endblock content %}