{% extends 'base.html' %}

{% block title %} {{ user }} {% endblock %}

{% block content %}

<div class="user-profile">
    <h1>{{ user }}</h1>
    <hr>
    <h4>{{ user.first_name }} - {{ user.last_name }} {% if user.profile.age %} - {{ user.profile.age }}{% endif %}</h4>
    <hr>
    <h4>{{ user.email }}</h4>
    {% if user.profile.address %} <hr><h4>{{ user.profile.address }}</h4> {% endif %}
    {% if user.profile.bio %} <hr><p>{{ user.profile.bio }}</p> {% endif %}
    {% if links %}
        <hr>
        {% for link in links %}
            [ <a href="{{ link.url }}">{{ link.title }}</a> ]
        {% endfor %}
    {% endif %}
</div>
<br>
<div class="user-profile">
    {% if request.user == user %}
    <div id="user-btns">
        <a href="{% url 'base:post_create' %}" class="btn btn-outline-success">Add Post</a>
        <a href="{% url 'account:user_create_story' user %}" class="btn btn-outline-dark">Add Story</a>
        <a href="{% url 'account:user_create_music' user %}" class="btn btn-outline-warning">Add Music</a>
        <br><br>
        <a href="{% url 'account:user_create_image' user %}" class="btn btn-outline-secondary">Add favorites Image</a>
        <a href="{% url 'account:user_settings' user %}" class="btn btn-outline-info">Settings</a>
    </div>
    {% elif request.user.id != userid and is_follow == False %}
    <a href="{% url 'account:user_follow' user %}" class="btn btn-outline-primary w-100">Follow</a>
    {% elif request.user.id != user.id and is_follow == True %}
    <a href="{% url 'account:user_unfollow' user %}" class="btn btn-outline-danger w-100">Unfollow</a>
    {% endif %}
</div>
<br>
<div class="user-profile">
    <h4>Stories: <a href="{% url 'account:user_stories' user %}">{{ stories.count }}</a></h4>
    <hr>
    <h4>Posts: <a href="{% url 'account:user_posts' user %}">{{ posts.count }}</a></h4>
    <hr>
    <h4>Links: <a href="{% url 'account:user_links' user %}">{{ links.count }}</a></h4>
    <hr>
    <h4>Musics: <a href="{% url 'account:user_musics' user %}">{{ musics.count }}</a></h4>
    <hr>
    <h4>Images: <a href="{% url 'account:user_images' user %}">{{ images.count }}</a></h4>
    <hr>
    <h4>Followers: <a href="{% url 'account:user_followers' user %}">{{ user.followers.count }}</a></h4>
    <hr>
    <h4>Followings: <a href="{% url 'account:user_followings' user %}">{{ user.followings.count }}</a></h4>
</div>

{% endblock %}
